.container-fluid
{
    margin: 0;
    padding: 0;
}
.wrap
{
    width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 940px;
}
#header
{
    background-color: #3b3e4b;
}
#header a
{
    color:#7f8291;
}
#very-top
{
    font-size: 11px;
    text-align: right;
}
#header nav 
{
    height: 100px;
    font-size: 16px;
    font-family: Serif, Times;
}
#header nav .row
{
    height: 100%;
}
.the-logo
{
    margin: 32px 0 0 0;
    padding-left: 0px;
}
#header nav #nav-links
{
    text-align: right;
    margin: 42px 0 0 0;
}
#header nav #nav-links a
{
    vertical-align: middle;
    margin: 0 0 0 24px;

}
#hero
{
    background:  #9cdcf2;
    align-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 72px 0 0 0;
}
#contact-shortcuts
{
    position: relative;
    float: right;
    right: 0px;
}
#contact-shortcuts button
{
    color: white;
    font-style: italic;
    font-weight: bold;
}
button#icon-search div
{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#hero button
{
    font-style: italic;
    font-weight: bold;
    color: white;
}
#top-half h2
{
    margin-bottom: 24px;
}
#top-half p
{
    width: 75%;
    margin: 0 auto;
}
#top-half h2, #top-half p
{
    font-family: Serif, Times;
    text-shadow: 0px 0px 7px #000;
    line-height: 32px;
}
#dots
{
    background-image: url("dot-pat.png");
}
#solutions-help{
    background: #ee7541;
    text-align: center;
    color: white;
    font-family: Serif, Times;
    padding: 18px 0px;
}
#categories 
{
    background: white;
    width: 80%;
    margin: 0 auto;
    padding: 128px 0px;
}
#categories p
{

}
#categories .service-category
{
    margin: 0 0 48px 0;
}
.service-category img
{
    vertical-align: top;
    margin: 0 18px 0 0;
}
#categories .info
{
    width: 60%;
    display: inline-block;
    padding-right: 24px;
}
#categories h5 
{
    font-family: Serif, Times;
    color: #666;
}
#categories h6
{
    color: orange;
    font-size: 12px;
}
#categories p
{
    font-size: 14px;
    color: #999;
}