html, body{
    background: lightblue;
    margin: 0% 8%;
}

.outlineMainPage {
    /* background: darkblue; */
    margin: 0%;
    padding: 0%;
}

nav {
    margin: 0%;
    padding: 0%;
    background: darkblue;
    /* display: inline-block; */
}

nav ul{
    margin: 0%;
    padding: 0%;
    font: menu;
    font-size: small;

}

nav ul li{
    display: inline-table;
    list-style-type: none;
    color: gold;
    /* margin: 0%; */
    padding: 1% .5% 1.2% .5%;
}

#HomeMenu{
    color: blue;
    background: gold;
}

#SearchMenu{
    float: right;
}

.column{
    background: gold;
    float: left;
    width: 24%;
    height: 100%;
}