html{

    background: #9CBCDA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#2e75b6;
}


.olsisbanner{

   background: #192D7D;
   color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%;
    width: 50%;
    text-align: center;
    float: right;
    
    text-shadow: 0 2px 0 #000000;
}

.leftnavbar{

    list-style-type: none;
    margin-top: 10px;
    padding: 10px;
    overflow: hidden; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    width: 300px;
    background: #ffe699;
    top: 0;
    height: 5%;
    width: 100%;
}

.rightnavbar{
float: right;
width: 400px;
background:  rgba(255, 255, 255, 0.87);
height: 50%;

}



.personalinfolist{

    list-style-type: none;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    top: 15%;
    left: 25%;
    float: left;
    text-align: center;
    background: #ffe699;
    font-size: 75%;
    float: left;
 
    position: relative;
    height: 45%;
    width: 10%;
   
    border: 3px solid #D5990C;
    border-radius: 3px;
    box-shadow: 0 1px 10px #1E389F;


}

.logo{
    position: relative;
    top: 45px;
    left: 0;
}

.sidebarbuttons{

    padding: 10px;
    top: 0;
    text-align: center;
    font-size: 75%;
    background: #ffe699;
    width: 300px;
    overflow: hidden;
    font-size: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}



.hoverbar{

    position: relative;
    display: inline-block;
  
    
    color: #2e75b6;
    font-size: 95%;


}


.hoverbar-content{

    
        display: none;
        position: absolute;
        background-color: #E5B957;
        z-index: 100;
        text-align: center;
        color: #2e75b6;
        left: 100px;
        overflow: visible;



}



.hoverbar:hover .hoverbar-content{
    display: block;
    left: 25%;

}

.hoverbar-content a {
    color: #0D4273;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 70%;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 25%;
   
}

/* Change color of dropdown links on hover */
.hoverbar-content a:hover {background-color: #FFEA6C;}


.hoverbarinputs{
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
  
    text-align: center;
    background: #ffe699;
    font-size: 75%;
    float: left;
  
   
  
    left: 5px;
 
    border: 3px solid #D5990C;
    border-radius: 3px;
    box-shadow: 0 1px 10px #1E389F;







}








.wrapper{
    background: #ffe699;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    border: 2px solid #D5990C;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 15px;
    margin-left: 5px;
    margin-right: 10px;
    left: 25%;
    color: #2e75b6;
    font-size: 80%;
    cursor: pointer;
 
  
   
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E5B957;
    z-index: 10;
    width: 250px;
    text-align: center;
    color: #2e75b6;
    
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #0D4273;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 70%;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

   
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #FFEA6C;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;


}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #D9D041;
}


.welcomemessage{
    color: #195D9D;
    padding: 5px;


}

.loginform{

    color: #2e75b6;



}
.welcome{

top: 25%;   
position: relative;
color: black;
height: 200px;
width: 35%;
float: left;
padding: 40px;
padding-left: 5%;
padding-right: 5%;
margin-right: 40px;
margin-left: 25%;

background: #ffe699;
border: 3px solid #D5990C;
color: #2e75b6;
border-radius: 3px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 115%;

}

.tree{



    float: right;
    height: 200px;
}


.banner{
    top: 35%;   
    position: relative;
    color: black;
    height: 25%;
    width: 35%;
    float: left;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
padding-bottom: 10px;
    margin-right: 40px;
    margin-left: 25%;
    text-align: justify;
    background: #ffe699;
    border-radius: 50px;
    border: 3px solid #D5990C;
   
    
    
    }




    




.registration{

    top: 25%;   
    position: relative;
    color: black;
    
    width: 75%;
    float: left;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 40px;
    margin-left: 10%;
    text-align: justify;
   
    



}


.credithourtable{


    top: 50%;   
    position: relative;
    color: black;
    
    width: 30%;
    height: 25%;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 40px;
    margin-left: 10%;
    text-align: justify;
    color: #2e75b6;
  
    



}

.TRANSCRIPTCONTAINER{
    top: 25%;   
    position: relative;
    color: #2e75b6;
    
    width: 50%;
    float: right;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 10%;
    margin-left: 25%;
    text-align: justify;
    background: #FFEDB7;
    overflow: hidden;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;



}

.STUDENTINFOCONTAINER{

    position: relative;
    color: black;
    
    width: 10%;
    float: left;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    bottom: 45%;
    margin-left: 2%;
    margin-top: 5%;
    text-align: justify;
  

}


.financialaidbox{


    top: 25%;   
    position: relative;
   
    
    width: 50%;
    float: right;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 20%;
    margin-left: 25%;
    text-align: justify;
    background: #ffe699;
    overflow: hidden;
    border: 3px solid #D5990C;
    border-radius: 3px;


}

.surveybox{

    top: 25%;   
    position: relative;
   
    
    width: 50%;
    float: right;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 20%;
    margin-left: 25%;
    text-align: justify;
    background: #ffe699;
    overflow: hidden;
    border: 3px solid #D5990C;
    border-radius: 3px;



}



.linkbox{

    top: 25%;   
    position: relative;
   
    
    width: 50%;
    float: right;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 20%;
    margin-left: 25%;
    text-align: justify;
    background: #ffe699;
    overflow: hidden;
    border: 3px solid #D5990C;
    border-radius: 3px;


    
}

.textbox{

    top: 25%;   
    position: relative;
   
    
    width: 50%;
    float: right;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 25%;
    margin-left: 25%;
    text-align: justify;
    background: #ffe699;
    overflow: hidden;
    border: 3px solid #D5990C;
    border-radius: 3px;
    

}



.textbox2{
    
          
        position: relative;
        color: black;
        
        width: 25%;
        float: left;
        padding: 40px;
        padding-left: 5%;
        padding-right: 5%;
        margin-right: 40px;
        margin-left: 10%;
        text-align: justify;
        background: #ffe699;
        border: 3px solid #D5990C;
        border-radius: 3px;
        
    
    }




.welcomemessage{

    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 40px;
    margin-left: 20%;
    text-align: justify;
    background: #ffe699;

    font-size: 75%;
    float: left;
    width: 25%;
    position: relative;
    left: 5px;
    overflow:hidden;
    top: 0px;
    border: 3px solid #D5990C;
    border-radius: 3px;
    box-shadow: 0 1px 10px #1E389F;
}


.loginform
{
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    top: 0;
    text-align: center;
    background: #ffe699;
    font-size: 75%;
    float: left;
    overflow: hidden;
    width: 15%;
    position: relative;
    left: 5px;
    overflow: hidden;
    border: 3px solid #D5990C;
    border-radius: 3px;
    box-shadow: 0 1px 10px #1E389F;

}

.logincontainer{

    margin-left: 0px;
    top: 20%;
    position: absolute;
    

}


.button {
    background-color: #2e75b6;
    border: none;
   
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 2px;
    box-shadow: 0 1px 5px #1E389F;
    color: #EFC840;
    margin-left: 5px;
    cursor: pointer;

}


input[type=text] {
  background-color: #EFC840;
    color: black;
    border: 1px solid #B26418;
}

::placeholder{

color: gray;
font-style: italic;
padding: 5px;

}


option {

    background-color: #EFC840;
    color: black;
    border: 1px solid #B26418;

}

select{

    background-color: #FFF3CF;
    color: black;
    border: 1px solid #B26418;

}
    

.table2 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    float: left;
    font-size: 95%;
    position: relative;
    bottom: 30%;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 95%;
    min-width: 400px;
}






td, th {
    border: 1px solid #9F7107;
    text-align: left;
    padding: 8px;
    color: black;
    background-color: #ffe699;
    color: #2e75b6;
}

td:nth-child(even){

   background-color: #FFF3CF;
}

tr:nth-child(even) {
    background-color: #dddddd;

}

#demo{

font-size: 150%;
color: red;
font-family: Verdana, Geneva, Tahoma, sans-serif;


}




    