/*
Aaron Cottrill`s 
*/
html
{
    font-family: Helvetica;
    /*
    display:inline-block;
    */
}
h1
{
    text-align:center;
}
ul { list-style-type: none; }
div
{
	/*
     display:inline-block
	 */
}
.nav
{
    background-color: grey;
    color : white;
    position: fixed;
    width: 100%;
    height: 5%;
}
.learnSection
{
    background-color: cyan;
    color : white;

}
.interruptSection
{
    background-color:red;
    color:white;
}
.roundedButton
{
    border-radius: 8px;
    font-variant: italic;
    color:white;
}
.blueBackground
{
    background-color : blue;
}
.redBackground
{
    background-color : red;
}
.greyBackground
{
    background-color : lightgrey;
}
.roundedButton:hover
{
    border-radius: 12px;
    font-variant: italic;
    color:white;
    background-color:black
}
ul.fancy-list li:before 
{
    /*
    font-family: Wingdings;
    */
    /*
    content: "f00c";
    color: red;
    */
    content: "\2713";
    color: #F5B54B;
}
ul.fancy-list 
{
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
}
.explore
{
    background-color:whitesmoke;
    color:grey;
    display:block;
}
.navText
{
    text-align: right;
    text-decoration: none; 
}
.connect
{
    background-color:navy;
    color:white;
}