<<<<<<< HEAD
body{
    background-color: #EBFC04
}

#container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(2, 27, 248, 0.94);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 12px 12px 12px #002FFF;
    text-align: center;
}


#picture{
    max-height: height auto;
    max-width: width auto;
    text-align: center;
}

main{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding:20px;
    border-radius: 10px;
    background-color: #FCF700;
    box-shadow: 12px 12px 12px #050404;
}

footer{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(2, 27, 248, 0.94);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 12px 12px 12px #000103;
    text-align: center;
=======
body{
    background-color: #EBFC04
}

#container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(2, 27, 248, 0.94);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 12px 12px 12px #002FFF;
    text-align: center;
}


#picture{
    max-height: height auto;
    max-width: width auto;
    text-align: center;
}

main{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding:20px;
    border-radius: 10px;
    background-color: #FCF700;
    box-shadow: 12px 12px 12px #050404;
}

footer{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(2, 27, 248, 0.94);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 12px 12px 12px #000103;
    text-align: center;
>>>>>>> 961af370ca47616dec6a3139d182e5f43f763a26
}