html, body{
    width: 100%;
    height: 100%;
}

#leftPane{
    background: #19171c;;
    width: 13%;
    height: 100%;
    /* display: inline-block; */
    float: left;
    border-style: solid;
    border-color: black;
}

#middlePane{
    background: #56398a;
    width: 84%;
    height: 100%;
    /* display: inline-block; */
    float: left;
    border-top: black solid;
    border-bottom: black solid;
}

#rightPane{
    background: #19171c;;
    width: 3%;
    height: 100%;
    /* display: inline-block; */
    float: left;
    border-style: solid;
    border-color: black;
}

.twitchLogo{
    display: block;
    width: 100%;
    height: auto;
    align-self: center;
    /* found at https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio */
    /* padding-left: 5%; */
    /* align-content: center; */
    
}

#logoContainer{
    background: gray;
    padding-top: 2%;
    padding-bottom: 2%;
}

#userProfileContainer{
    padding-top: 5%;
    background: rgb(51, 51, 116);
    padding-bottom: 5%;
    border-top: black solid;
    border-bottom: black solid;
}

#userStatusIcon{
    color: green;

}

.userStatus{
    color: white;
}

#userName{
    color: white;
}

.columnForProfilePic{
    align-self: center;
    left: 6%;
}

#barContent{
    font-size: 50pt;
    text-align: center;
    color: white;
}

#userFollows{
    height: 80%;
    /* background: red; */
    color: white;

}

#searchIcon{
    color: white;
    font-size: 20pt;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 2%; 
    background: black;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding: 0%;
}

#searchArea{
    height: 5%;
    padding-top: 1%; 
}

#inputSearch{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

#expandRow{
    width: 4%;
    /* background: white; */
    text-align: center;
    color: rgb(100, 100, 100);
    height: 100%;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 35pt; 
    float: left;
}

#firstCarot{
    padding-bottom: 1340%;
}

#secondCarot{
    color: white;
}

#thirdCarot{
    padding-top: 1450%;
}

.gamePicture{
    /* height: 30%;
    width: 40%; */
    display: block;
    width: 100%;
    height: auto;
    align-self: center;
    /* box-shadow: #000; */
    /* box-shadow: 10px 10px black; */
    /* box-shadow: 0 46px 247px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0px 1px 46px -1px black;
}

.gameRow{
    padding-top: 2%;
    padding-left: 2%;
}

.gameHeader{
    padding-top: 5%;
    color: black;
    font-style: oblique;
    font-weight: bold;
}

.gameViewCount{
    color: white;
    
}

#expandRow:hover{
    color: red;
}

#expandRow #secondCarot:hover{
    color: purple;
}

#recommendedChannels{
    color: white;
    padding-top: 5%;
}

.channelHeading{
    font-size: 14pt;
    text-decoration-line: underline;

}


.channelImg{
    display: block;
    width: 26%;
    height: auto;
    align-self: center;
    float: left;
    margin-right: 8%;
}

.channelContainer{
    padding-top: 5%;
    padding-bottom: 5%;
}

#followedChannels{
    text-align: center;
    padding-top: 3%;

}

.followedChannelImage{
    display: block;
    width: 26%;
    height: auto;
    align-self: center;
    float: left;
    margin-right: 4%;
}