html, body{
    /* margin: 0%; */
    background: white;
    /* max-height: 100%; */
    /* need a better way of setting max-height */
    max-width: 100%;
    /* padding: 0%; */
}

.leftPane{
    background: rgb(70, 66, 77);

}

.middlePane{
    background: rgb(85, 11, 119);
}

.rightPane{
    background: rgba(0, 0, 0, 0.692);
    width: 100;
    border-style: solid;
    border-color: black;

    /* margin: 0%; */
    /* padding: 0%; */
}

.rowContainer{
    width: 99%;
    /* margin-right: 0%; */
    /* margin: 0%; */
}


.rightPaneRow{
    background: white;
    position: sticky;
}

.logoRow{
    padding-top: 3%;
}

.twitchLogo{
    display: block;
    width: 100%;
    height: auto;
    /* found at https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio */
}

.twitchGlitchyLogo{
    font-size: 30pt; 
    color: white;
    padding-top: 4%;
    padding-left: 12%;
}

.userProfileRow{
    padding-top: 5%;
    background: rgb(51, 51, 116);
    padding-bottom: 5%;
}

#userStatusIcon{
    color: green;

}

.userStatus{
    color: white;
}

#userName{
    color: white;
}

#expandBar{
    color: rgb(85, 11, 119);
    font-size: 35pt;
    /* font-stretch: expanded; */
    width: 95%;
    text-align: center;
}

.searchRow{
    position: fixed;
    bottom: 0;
    /* padding-bottom: 1%; */
    background: rgb(51, 51, 116);
    display: inline-block;
    width: 100%;
    /* width: inherit; */
}

.userDetails{
    height: -webkit-fill-available;
    /* border: 5pt black thick; */
    border-style: solid;
    border-color: black;
}

.inputField{
    border-radius: 10px;
    background: white;
    /* clear: both; */
    height: 50px;
}

.searchIcon{
    background: black;
    border-radius: 10px;
}

.carot{
    font-size: 40pt;
    color: gray;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}