html{

    background: #9CBCDA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.olsisbanner{

   background: #192D7D;
   color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%;
    width: 50%;
    text-align: center;
    float: right;
    border: 2px solid gold;
    text-shadow: 0 2px 0 #000000;
}

.leftnavbar{

    list-style-type: none;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 10px;
    overflow: hidden; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    width: 300px;
    background: #E3B11F;

    height: 100%;
}

.rightnavbar{
float: right;
width: 400px;
background:  rgba(255, 255, 255, 0.87);
height: 50%;

}

.yellowbar{

    BACKGROUND-COLOR: #cccc00;
    height: 5px;
}

.personalinfolist{

    list-style-type: none;


}

.sidebarbuttons{

    border: 3px solid #CC8800;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 75%;
    background: #E3B11F;
    width: 300px;
    margin-bottom: 5px;




}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CC8800;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #1d0f0c;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 50%;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #D0C83D;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    left: 25%;
    overflow: visible;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #D0C83D;
}


.welcomemessage{

    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 40px;
    margin-left: 20%;
    text-align: justify;
    background: #D0C83D;
    border-radius: 40px;
    font-size: 75%;
    float: left;
    width: 25%;
    position: relative;
    left: 5px;
    overflow:hidden;
    top: 0px;

}

.loginform
{
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
    top: 0;
    text-align: center;
    background: #D0C83D;
    border-radius: 40px;
    font-size: 75%;
    float: left;
    overflow: hidden;
    width: 15%;
  position: relative;
  left: 5px;
  overflow: hidden;

}

.logincontainer{

    margin-left: 0px;
    top: 20%;
    position: absolute;
}